@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (font: -apple-system-body) and (-webkit-appearance: none)  {
  img[loading="lazy"] {
    clip-path: inset(0.6px) !important;
  }
  body {
    font-size: 16px !important;
  }
}

body {
  overflow: hidden !important;
  font-size: 16px !important;
}
.wrapper::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.croppedImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
