@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  body {
    font-size: 16px !important;
  }
}
body {
  overflow: hidden !important;
  font-size: 16px !important;
}
.wrapper::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
#nprogress .bar {
  background: linear-gradient(90deg, #db2777 0%, #ea580c 100%) !important;
  height: 4px !important;
  border-radius: 50% !important;
}
